.questionHeader{
    color: grey;
}
.questionHeader i{
    margin:20px 5px;
}
.questionBody{
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    /*height: 30rem;*/
}
.questionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 55%;
    padding: 0 20px;
    font-size: 20px;
    color: black;
}
.questionDsc{
    font-size: 18px;
    color: grey;
}
.active{
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}
.deActive{
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}
.nextQuestionButtonDeActive{
    color: white;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 5px 20px;
}
.nextQuestionButtonActive{
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px 20px;
}
.nextQuestionButtonActive:hover{
    background-color: rgba(231,78,11,0.89);
}
.chooseJob{
    width: 100%;
    display: flex;
    justify-content: center;
}
.chooseJob select{
    width: 50%;
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    outline: none;
}
.chooseJobM{
    width: 100%;
    display: flex;
    justify-content: center;
}
.chooseJobM select{
    width: 100%;
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    outline: none;
}
.jobPosition{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.jobPosition div{
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.jobPosition button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jobPosition button:hover{
    border: 1px solid orange;
    color: black;
}
.jobPosition div:hover{
    color: black;
}

.jobPositionM{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.jobPositionM div{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.jobPositionM button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jobPositionM button:hover{
    border: 1px solid orange;
    color: black;
}
.jobPositionM div:hover{
    color: black;
}
.salary{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.salary div{
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 200px;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.salary button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.salary button:hover{
    border: 1px solid orange;
    color: black;
}
.salary div:hover{
    color: black;
}

.salaryM{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.salaryM div{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.salaryM button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.salaryM button:hover{
    border: 1px solid orange;
    color: black;
}
.salaryM div:hover{
    color: black;
}
.nextButton{
    width: 100%;
    text-align: right;
}
.nextButtonM{
    width: 100%;
    text-align: center;
}
.previousButton{
    width: 100%;
    text-align: left;
}
.previousButtonM{
    width: 100%;
    text-align: center;
}
.buttons{
    display: flex;
}
.question{
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.previousButton button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButton button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.previousButtonM button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButtonM button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}