.questionHeader{
    color: grey;
}
.questionHeader i{
    margin:20px 5px;
}
.questionTitle{
    text-align: center;
}
.questionBody{
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    /*height: 30rem;*/
}
.questionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 55%;
    padding: 0 20px;
    font-size: 20px;
    color: black;
}
.questionDsc{
    font-size: 18px;
    color: grey;
    text-align: center;
}
.active{
    height: 25px;
    width: 25px;
    background-color: #ff6600;
    border-radius: 50%;
    display: inline-block;
}
.deActive{
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}
.nextQuestionButtonDeActive{
    color: white;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 60px;
}
.nextQuestionButtonActive {
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 5px;
    height: 60px;
}
.nextQuestionButtonActive:hover{
    background-color: rgba(231,78,11,0.89);
}
.environmentHoby{
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
}
.environmentHoby div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.environmentHoby label{
    width: 350px;
    text-align: initial;
}
.environmentHoby input{
    border: 1px solid #ff6600;
    margin-left: 15px;
    border-radius: 10px;
    outline: none;
}
.environmentHobyM input{
    border: 1px solid #ff6600;
    margin-left: 15px;
    border-radius: 10px;
    outline: none;
}
.environmentHobyM{
    text-align: right;
    font-size: 17px;
}
.finalAnswer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.finalAnswer input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.finalAnswerM{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
}
.finalAnswerM label{
   text-align: right;
}
.nextButton{
    width: 100%;
    text-align: right;
}
.nextButtonM{
    width: 100%;
    text-align: center;
}
.FinalHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FinalHeader h3{
    color: grey;
}
.FinalHeader span{
    color: #ff6600;
    font-size: 24px;
    font-weight: bold;
}
.resultDsc{
    text-align: left;
}
.resultDsc p:nth-child(1){
    color: #ff6600;
}
.question{
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.previousButton{
    width: 100%;
    text-align: left;
}
.previousButtonM{
    width: 100%;
    text-align: center;
}
.buttons{
    display: flex;
}
.creedRate{
    display: flex;
    justify-content: center;
    width: 100%;
}
.creedRate div{
    /*border-radius: 10px;*/
    border: 1px solid lightgrey;
    width: 100px;
    height: 50px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.creedRate div:nth-child(1){
    border-radius: 10px 0 0 10px;
}
.creedRate div:nth-last-child(1){
    border-radius: 0 10px 10px 0;
}
.creedRate div:nth-child(1) button{
    border-radius: 10px 0 0 10px;
}
.creedRate div:nth-last-child(1) button{
    border-radius: 0 10px 10px 0;
}
.creedRate button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    /*border-radius: 10px;*/
}
    .creedRate button:hover {
        border: 1px solid #ff6600;
        color: black;
        background: #fff0e6;
    }
.creedRate div:hover{
    color: black;
}
.creedRateM{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.creedRateM div{
    /*border-radius: 10px;*/
    border: 1px solid lightgrey;
    width: 100px;
    height: 50px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.creedRateM button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    /*border-radius: 10px;*/
}
.creedRateM div:nth-child(1){
    border-radius: 10px 10px 0 0;
}
.creedRateM div:nth-last-child(1){
    border-radius: 0 0 10px 10px;
}
.creedRateM div:nth-child(1) button{
    border-radius: 10px 10px 0 0;
}
.creedRateM div:nth-last-child(1) button{
    border-radius: 0 0 10px 10px;
}
    .creedRateM button:hover {
        border: 1px solid #ff6600;
        color: black;
        background: #fff0e6;
    }
.creedRateM div:hover{
    color: black;
}
.creedRateDsc{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.creedRateDsc span{
    color: #939292;
}
.creedRateDscM span{
    color: #939292;
}
.creedRateDscM{
    width: 100%;
    display: flex;
    justify-content: center;
}
.previousButton button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButton button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.previousButtonM button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButtonM button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.information{
 width: 100%;
}
    .information input {
        outline: none;
        width: 65%;
        border: none;
        border-bottom: 1px solid lightgrey;
        margin-left: 10px;
    }
.informationM{
 width: 100%;
    text-align: initial;
}
.informationM input{
    width: 50%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 10px;
}
.saveButton{
    width: 120px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    height: 60px;
}
.saveButton:hover{
    background-color: rgba(231,78,11,0.89);
}
