.startForm{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.startFormButton{
    background-color: orange;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
}
.startFormButton:hover{
    background-color:  rgba(231,78,11,0.89);
}
.startPagePic{
    /*display: flex;*/
    /*justify-content: flex-end;*/
}
.startPagePicM{
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
}