.questionHeader{
    color: grey;
}
.questionHeader i{
    margin:20px 5px;
}
.questionTitle{
    text-align: center;
    font-weight: bold;
}
.questionBody{
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    /*height: 30rem;*/
}
.questionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 55%;
    padding: 0 20px;
    font-size: 20px;
    color: black;
}
.questionDsc{
    font-size: 18px;
    color: grey;
    text-align: center;
}
.active{
    height: 25px;
    width: 25px;
    background-color: #ff6600;
    border-radius: 50%;
    display: inline-block;
}
.deActive{
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}
.nextQuestionButtonDeActive{
    color: white;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 60px;
}
.nextQuestionButtonActive{
    width: 115px;
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 5px;
    height: 60px;
}
.nextQuestionButtonActive:hover{
    background-color: rgba(231,78,11,0.89);
}
.haveMentalSick{
    width: 100%;
    display: flex;
    justify-content: center;
}
.haveMentalSick div{
    border-radius: 10px;
    border: 1px solid #ff6600;
    width: 200px;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}
.haveMentalSick button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
    .haveMentalSick button:hover {
        border: 1px solid #ff6600;
        color: black;
        background: #fff0e6;
    }
/*.haveMentalSick div:hover{
    background-color: #ff6600;
    color: white;
}
*/
.haveMentalSickM{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.haveMentalSickM div{
    border-radius: 10px;
    border: 1px solid #ff6600;
    width: 100%;
    height: 100px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
}
.haveMentalSickM button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
    .haveMentalSickM button:hover {
        border: 1px solid #ff6600;
        color: black;
        background: #fff0e6;
    }
/*.haveMentalSickM div:hover{
    background-color: #ff6600;
    color: white;
}
*/
.chooseMentalSick {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.chooseMentalSick input{
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    width: 20px;
    height: 20px;
}
.otherMentalIllness{
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    width: 220px !important;
}
.chooseMentalSickM{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    align-items: flex-start;
}
.chooseMentalSickM label{
    text-align: right;
    margin-bottom: 5px;
}
.chooseMentalSickM input{
    margin: 0 5px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}
.chooseMeetingRate{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}
.chooseMeetingRate div{
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 100%;
    height: 60px;
    box-shadow :0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.chooseMeetingRate button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
    .chooseMeetingRate button:hover {
        border: 1px solid #ff6600;
        color: black;
        background: #fff0e6;
    }
.chooseMeetingRate div:hover{
    color: black;
}
.question{
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.nextButton{
    width: 100%;
    text-align: right;
}
.nextButtonM{
    width: 100%;
    text-align: center;
}
.previousButton{
    width: 100%;
    text-align: left;
}
.previousButtonM{
    width: 100%;
    text-align: center;
}
.buttons{
    display: flex;
}
.previousButton button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButton button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.previousButtonM button {
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}
.nextButtonM button{
    width: 115px;
    box-shadow: 0 2px 5px #8b8b8b;
}